$base_font_size: 12px;
$base_font_family: 'Arial Narrow', Helvetica, sans-serif;
$content_width: 960px;

// Colors:
$blue: #05509f;
$orange: #ec6906;
$pale_orange: #fcd6b7;
$bright_orange: #f9771b;
$yuck_color: #ecb780;
$light_blue: #d2ddee;
$darker_blue: #8d9dd1;
